<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"></link>
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet"></link>
    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/mode-yaml.min.js" type="text/javascript" charset="utf-8"></script>
    <title>tf ops - {% block title %}{% endblock %}</title>
    <style>{% block customcss %}{% endblock %}</style>
    <script>var editors = {};</script>
  </head>
  <body>
    <div id="header">
      <div>
        <div id="actions" style="float: right">
          <div style="display: inline-block " class="dropdown">
            <button class="custbutton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {% if namespace %} {{ namespace }} {% else %} All Namespaces {% endif %}
            </button>
            {% if not plural == "clustermoduletemplates" and not plural  == "clusterproviders" %}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/{{plural}}/">All Namespaces</a>
              {% for namespace in namespaces %}
              <a class="dropdown-item" href="/{{plural}}/{{namespace}}/">{{namespace}}</a>
              {% endfor %}
             
            </div>
            {% endif %}
          </div>
          <button class="custbutton btn btn-secondary" type="button">Sign Out</button>
        </div>
        <div style="font-weight: bold; float: left; padding-top: 5px;"><i data-feather="chevron-right"></i> TERRAFORM BOARD</div>
      </div>
    </div>
    <div class="row"></div>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div style="padding-top: 70px"></div>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> <span>Namespaced Resources</span></h6>
            <br />

          <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link {% if '/plans' in request.path %}active{% endif %}" href="/plans/{% if namespace %}{{namespace}}/{%endif%}">
                    <span data-feather="book"></span>
                    Plans
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if '/states' in request.path %}active{% endif %}" href="/states/{% if namespace %}{{namespace}}/{%endif%}">
                    <span data-feather="database"></span>
                    States
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  {% if '/modules' in request.path %}active{% endif %}" href="/modules/{% if namespace %}{{namespace}}/{%endif%}">
                    <span data-feather="box"></span>
                    Modules
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  {% if '/moduletemplates' in request.path %}active{% endif %}" href="/moduletemplates/{% if namespace %}{{namespace}}/{%endif%}">
                    <span data-feather="box"></span>
                    Module Templates
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  {% if '/providers' in request.path %}active{% endif %}" href="/providers/{% if namespace %}{{namespace}}/{%endif%}">
                    <span data-feather="command"></span>
                    Providers
                  </a>
                </li>
              </ul>
        
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"> <span>Cluster Resources</span></h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link  {% if '/clustermoduletemplates' in request.path %}active{% endif %}" href="/cluster/clustermoduletemplates/">
                  <span data-feather="box"></span>
                  Cluster Module Templates
                </a>
                <a class="nav-link  {% if '/clusterproviders' in request.path %}active{% endif %}" href="/cluster/clusterproviders/">
                  <span data-feather="command"></span>
                  <span>Cluster Providers</span>
                  
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <i data-feather="chevron-right"></i>  {% block nav %}{% endblock %}
          <div id="subwrap" style="margin-top: 15px;">
            <div id="flashes">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                  <li class="alert alert-{{category}}">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            </div>
            <div id="actions" style="float: right">
              {% block actions %}{% endblock %}
            </div>
            <div style="float: left"><h3> {% block obj %}{% endblock %}</h3></div>
    
            <hr style="clear: both" />
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    

  

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    {% block last %}{% endblock %}
    </body>
</html>
