{% extends "base.html" %}
{% block title %}All Plans{% endblock %}
{% block nav %}<a href="/plans/">Plans</a>

{% if namespace %}
<span data-feather="chevron-right"></span> <a href="/plans/{{namespace}}">{{namespace}} </a>
{% endif %}
{% endblock %}
{% block obj %}Plans Summary{% endblock %}
{% block actions %}
{% if  namespace %}
<button type="button" class="btn btn-success actionrequest">Request Plan</button>
{% endif %}
{% endblock %}
{% block content %}

<h5>Plans</h5>
{{plansTable | safe }}
<hr />
<h5>Requests</h5>
{{planRequestsTable | safe}}
{% endblock %}
{% block last %}
<script>

$(document).ready(function() {
  {{ js | safe }}
  $(".actionrequest").click(function() {
    location.href = '/planrequests/{{namespace}}/_new'
  });
} );

</script>

{% endblock %}
