{% extends "base.html" %}
{% block customcss %}{{css}}{% endblock %}
{% block title %}{{pluralTitle}}{% endblock %}
{% block nav %}<a href="/{{ plural }}">{{pluralTitle}}</a> <span data-feather="chevron-right"></span>{{ name }} <span data-feather="chevron-right"></span> Edition{% endblock %}
{% block obj %}{{name}}{% endblock %}
{% block content %}



<div class="container">
    <div class="row">
      <div class="col cust">
        <h4><span class="blue">Specitications edit</span></h4>
        {{ form | safe }}
        <hr />
        <br />
        <form class="needs-validation" novalidate>
          <div class="form-group row">
          <label for="first_name" class="col-sm-2 col-form-label mr-2">First Name</label>
          <div class="col-sm-7">
          <input type="text" class="form-control" id="first_name" name="first_name" required>
          </div>
          </div>
          <div class="form-group row">
            <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label mr-2">list</label>
            <div class="col-sm-7">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>True</option>
                <option>False</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleFormControlSelect2" class="col-sm-2 col-form-label mr-2">Example multiple select</label>
            <div class="col-sm-7">
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="last_name" class="col-sm-2 col-form-label mr-2">Last Name</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" id="last_name" name="last_name">
            </div>
          </div>
          <div class="form-group row">
          <div class="offset-sm-5">
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </div>
          </form>
        
      
      </div>
    </div>
</div>

{% endblock %}

{% block last %}
<script>

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}