{% extends "base.html" %}
{% block customcss %}{{css}}{% endblock %}
{% block title %}{{pluralTitle}}{% endblock %}
{% block nav %}
  {% if plural != "clusterproviders" and plural != "clustermoduletemplates" and namespace != None %}
    {% if plural == "states" %}
       States <span data-feather="chevron-right"></span> 
       <a href="/{{ plural }}/{{namespace}}/{{ name }}">{{ name }}</a><span data-feather="chevron-right"></span> Edition
    {% else %}

  <a href="/{{ plural }}/">{{pluralTitle}}</a>  <span data-feather="chevron-right"></span>
    <a href="/{{ plural }}/{{namespace}}/">{{ namespace }}</a>  <span data-feather="chevron-right"></span>
    {% if mode == "create" %}
    New
    {% else %}
   <a href="/{{ plural }}/{{namespace}}/{{ name }}">{{ name }}</a>  <span data-feather="chevron-right"></span>
      Edition
    {%endif%}
    {%endif%}
  {% else %}
    {% if plural == "states" %}
       States <span data-feather="chevron-right"></span> New
    {% else %}

    <a href="/cluster/{{ plural }}/">{{pluralTitle}}</a > <span data-feather="chevron-right"></span>
    {% if mode == "create" %}
    New
    {% else %}
    <a href="/cluster/{{ plural }}/{{ name }}">{{ name }}</a>  <span data-feather="chevron-right"></span>
      Edition
    {%endif%}
    {%endif%}
  {% endif %}
{% endblock %}
{% block actions %}
<button type="button" class="btn btn-success actionedit">Save</button>
<button type="button" class="btn btn-primary actioncancel">Cancel</button>
{% if mode != "create" %}
<button type="button" class="btn btn-danger actiondelete" >Delete</button>
{% endif %}
{% endblock %}
{% block obj %}{{name}}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col cust formcontent">
      {% if plural == "clustermoduletemplates" or plural == "clusterproviders" %}
      <form method="POST" action="/cluster/{{plural}}/?{{action}}=true" class="needs-validation" novalidate>
      {% elif namespace == None and plural == "states" %}
      <form method="POST" action="/states/?{{action}}=true" class="needs-validation" novalidate></form>
      {% else %}
      <form method="POST" action="/{{plural}}/{{namespace}}/?{{action}}=true" class="needs-validation" novalidate>
      {% endif %}
      </form>
      </div>
    </div>
</div>
<div style="display: none;" class="pop-outer">
  <div class="pop-inner">
      <div style="float: right;"><span  data-feather="x-circle" class="btn-add-attribute hidetplattr"></span></div>
      <div class="hattr" style="clear: both"></div>
  </div>
</div>

{% endblock %}

{% block last %}
<script>
var name = "{{name}}";
var namespace = "{{namespace}}";
var form={{form|safe}};
var plural="{{plural}}";
var action="{{action}}";
{% if js %}
{{js|safe}}
{% endif %}
var a;
var attrtypes = [
              {"name": "String", "type": "sValue"},
              {"name": "Integer", "type": "iValue"},
              {"name": "Number", "type": "nValue"},
              {"name": "Boolean", "type": "bValue"},
              {"name": "String[]", "type": "lsValue"},
              {"name": "Integer[]", "type" : "liValue"},
              {"name": "Number[]", "type" : "lnValue"},
              {"name": "Boolean[]", "type": "lbValue"},
            ];
var csrf_token = "{{ csrf_token() }}";
initForm(form);

var completetype = (plural == 'modules') ? ($('#formmoduleTemplate').val() != '') ? 'moduletemplates' : 'clustermoduletemplates' : '';
var completetpl = (plural == 'modules') ? ($('#formmoduleTemplate').val() != '') ? $('#formmoduleTemplate').val() : $('#formclusterModuleTemplate').val() : '';


if (plural == "modules") {
  if (form[1]['fields'][0]['value'].length == 0) {
    $('div.requiredAttributes').hide();
  }
  applyAutoComplete();
}

function getFormAttributes(obj, required=false, allowempty=false, allowemptylistval=true) {
  var attributes= [];
  obj.find('div.row').not('div.ansibleFQDN').each(function() {
    var type = $('select option:selected', $(this)).val();
    var attrName = $('div.attrname > input', $(this)).val();
    if(!(allowempty) && attrName == "") {
      return;
    }
    switch(type) {
      case "sValue":
        var attrValue = $('div.attrvalue > input', $(this)).val();
      break;
      case "iValue":
        var attrValue = parseInt($('div.attrvalue > input', $(this)).val());
      break;
      case "nValue":
        var attrValue = parseFloat($('div.attrvalue > input', $(this)).val());
      break;
      case "bValue":
        var attrValue = ($('div.attrvalue > select option:selected', $(this)).val() === 'true');
      break;
      case "lsValue":
        var attrValue = [];
        $('div.attrvalue > input', $(this)).each(function() {
          if (allowemptylistval || (!(allowemptylistval) && $(this).val() != "") ) {
            attrValue.push($(this).val());
          }
        });
      break;
      case "lnValue":
        var attrValue = [];
        $('div.attrvalue > input', $(this)).each(function() {
          if (allowemptylistval || (!(allowemptylistval) && $(this).val() != "") ) {
            attrValue.push(parseFloat($(this).val()));
          }
        });
      break;
      case "liValue":
        var attrValue = [];
        $('div.attrvalue > input', $(this)).each(function() {
          if (allowemptylistval || (!(allowemptylistval) && $(this).val() != "") ) {
            attrValue.push(parseInt($(this).val()));
          }
        });
      break;
      case "lbValue":
        var attrValue = [];
        $('div.attrvalue > select option:selected', $(this)).each(function() {
          if (allowemptylistval || (!(allowemptylistval) && $(this).val() != "") ) {
            attrValue.push(($(this).val() === 'true'));
          }
        });
      break;
    }
    var attribute = {}
    attribute["name"] = attrName;
    if (required) {
      attribute['type'] = type;
    }
    else {
      attribute[type] = attrValue;
    }
    attributes.push(attribute);
  });
  return attributes;
}

function getEnvAttributes(key, ansible=false) {
  envAttributes = [];
  $('form').find('div.env').each(function() {
    envname = $('#formenvname', $(this)).val();
    if (envname == "") {
      return;
    }
    envattr = $('div.attributes, div.defaultAttributes', $(this));
    var  env = {}
    env['name'] = envname;
    env[key] = getFormAttributes(envattr);
    if (ansible) {
      ansibleAttribute = getAnsibleAttributes($(this));
      if(Object.keys(ansibleAttribute).length != 0) {
        env["ansibleAttributes"] = getAnsibleAttributes($(this));
      }
    }
    envAttributes.push(env);
  });
  return envAttributes;
}

function getAnsibleTargets(allowempty=false) {
  var ansibleTargets = [];
  $('div.ansibleHosts').find('div.ansibleTarget').each(function() {
    var host = $('div.ansibleFQDN input', $(this)).val();
    var target = {'fqdn': host};
    var vars = getFormAttributes($(this), false, allowempty);
    if (vars.length != 0) {
      target['vars'] = vars;
    }
    ansibleTargets.push(target)
  });
  return ansibleTargets;
}

function getAnsibleAttributes(where) {
  var ansibleAttributes= {}
  var ansibleCredUser =  $('#formansible_cred_user', where).val();
  var ansibleCredPass = $('#formansible_cred_password', where).val();
  var ansibleCredType = $('#formansible_cred_type', where).val();
  var ansibleCredSSH = $('#formansible_cred_ssh_key', where).val();
  var ansibleGalaxy = $('#formansible_defaultGalaxyServer', where).val();
  if (ansibleCredUser != "" || ansibleCredPass != "" || ansibleCredType != "" || ansibleCredSSH != "") {
    ansibleAttributes["credentials"] = {}
    ansibleAttributes["credentials"]["user"] = ansibleCredUser;
    ansibleAttributes["credentials"]["password"] = ansibleCredPass;
    ansibleAttributes["credentials"]["type"] = ansibleCredType;
    ansibleAttributes["credentials"]["ssh_key"] = ansibleCredSSH;
  }
  else if (action == "edit"){
      ansibleAttributes["credentials"] = null;
  }
  if (action == "create" && ansibleGalaxy != "" ) {
    ansibleAttributes["defaultGalaxyServer"] = ansibleGalaxy;
  }
  else if (action == "edit") {
    ansibleAttributes["defaultGalaxyServer"] = (ansibleGalaxy != "") ? ansibleGalaxy : null;
  }

  var roles = getFormAttributes($(where).find('div.ansibleRoles'));
  if (roles.length != 0) {
    roles = getFormAttributes($(where).find('div.ansibleRoles'))[0]['lsValue'];
    ansibleAttributes["roles"] = (roles.length != 0) ? roles : [];
  }
  var dependencies = getFormAttributes($(where).find('div.ansibleDependencies'));
  if (dependencies.length != 0) {
    dependencies = getFormAttributes($(where).find('div.ansibleDependencies'))[0]['lsValue'];
    ansibleAttributes["dependencies"] = (dependencies.length != 0) ? dependencies : [];
  }
  var ansiblevars  = (where == 'form') ? getFormAttributes($(where).find('div.ansibleVars').filter(function() { return $(this).closest('div.env').length == 0; })) : getFormAttributes($(where).find('div.ansibleVars'));
  ansibleAttributes["vars"] = (Object.keys(ansiblevars).length != 0) ? ansiblevars : [];

  var ansibleTargets = getAnsibleTargets();
  ansibleAttributes["targets"] = (ansibleTargets.length != 0) ? ansibleTargets : [];
  return ansibleAttributes;
}

function applyAutoComplete() {
  if (completetype == "" || completetpl == "") {
    return;
  }
  $('.attrname input', 'div.attributes').autoComplete({
    minLength: 0,
    resolver: 'custom',
    noResultsText: '',
    events: {
        search: function (qry, callback) {
            if (completetype == "" || completetpl == "") {
              return;
            }
            $.ajax(
                '/api/'+completetype+'/'+completetpl+'/attributes',
                {
                    data: { 'qry': qry}
                }
            ).done(function (res) {
//                console.log(res);
                callback(res);
            });
        }
    }
  });
}

function setRequiredAttributes(namespace, name) {
  var url = (namespace == null) ? '/api/clustermoduletemplates/' : '/api/moduletemplates/'+namespace+'/';
  url +=  name + '/requiredAttributes'
  $('div.row', 'div.requiredAttributes').remove();
  if (name != '') {
    $.getJSON(url, function(data) {
      if (data.length == 0 ) {
        $('div.requiredAttributes').hide();
      }
      $('div.requiredAttributes').show();
      $('div.requiredAttributes').append(genFields([{'id': 'requiredAttributes', 'type': 'fillRequiredAttributes', value: data }]));
      feather.replace();
    });
  }
  else {
    $('div.requiredAttributes').hide();
  }
}
function getInput(type, value="", required=false, disabled=false, password=false) {
    var h;
    required = (required) ? 'required' : '';
    disabled = (disabled) ? 'disabled' : '';
    switch(type) {
      case "iValue":
      case "nValue":
      case "liValue":
      case "lnValue":
        h =  '<input type="number" '+required+' value="'+value+'" '+disabled+' class="form-control" placeholder="Attribute Value" />';
      break;
      case "lsValue":
      case "sValue":
        var t = (password) ? 'password' : 'text';
        var complete = (password) ? 'autocomplete="off" readonly onclick="this.removeAttribute(\'readonly\');"' : '';
        h =  '<input type="'+t+'" '+required+' value="'+value+'" '+disabled+' '+complete+' class="form-control" placeholder="Attribute Value" />';
      break;
      case "bValue":
      case "lbValue": 
        if (value == 'true' || value == true) {
          tval = 'selected';
          fval = '';
        }
        else if (value == 'false' || value == false) {
          fval = 'selected';
          tval = '';
        }
        h = '<select class="form-control" '+disabled+'><option value="true" '+tval+'>True</option><option value="false" '+fval+'>False</option></select>';
      break;
    }
    return h;
  }

function initForm(sections) {
  var html = genForm(sections)
  $('form').html(html);
  feather.replace();
}

function genForm(sections) {
  var html = "";
  sections.forEach(function(section) {
    if (typeof(sections) == typeof({})) {
      var htype = ("htype" in section) ? section["htype"] : "h4";
      var hrclass = ("hrclass" in section) ? section['hrclass'] : '';
      var addBtn = ("add" in section && section['add'] != '') ? '<span data-feather="plus-circle" class="btn-del-attribute '+section['add']+'"></span>' : '';
      var display = (section['id'] == 'spec' || section['id'] == 'requiredAttributes') ? 'block' : 'none';
      html += `
      <div class="`+section['id']+`">
      <`+htype+`>
        `+section['name']+`
        <span style="float: right; margin-right: 17%">
          <span data-feather="menu" class="btn-del-attribute togglesection"></span> 
          `+addBtn+`
        </span>
      </`+htype+`>
      <hr class="`+hrclass+`" />
      <div class="section" style="display: `+display+`">
      `;
    }
    html += genFields(section['fields']);
    if (typeof(section) == typeof({})) {
      html += '</div></div>'
    }
  });
  html += '<button type="submit" id="submit" style="display: none" class="btn btn-primary">Submit</button>'
  html += '<input type="hidden" name="csrf_token" value="'+csrf_token+'" />';
  return html;
}

function formatAttributes(attrtype="sValue", attrname="", attrvalue="", type="simple", disabled=false, padding=false, add="", del="", required=false) {
  console.log('type: '+ attrtype+' name : '+attrname);
  var html = "";
  if (padding) {
    html += '<div class="col-sm-3 col-form-label"></div>';
  }
  html += '<div class="col-sm-2 col-form-label attrtype">';
  var disabled = (disabled) ? 'disabled' : '';
  if (type == "simple" || type == "defineRequiredAttributes" || type == "fillRequiredAttributes" || type == "ansibleRoles" || type == "ansibleHosts" || (type == "list" && padding && attrname != "") ) {
    var toggle = (type == "simple") ? "toggleattrtype" : "";
    html += '<select class="form-control '+toggle+' '+disabled+' attrtype">';
    attrtypes.forEach(function(element) {
      var selected = (attrtype == element['type']) ? 'selected' : '';
      html += '<option  '+disabled+' value="'+element['type']+'" '+selected+'>'+element['name']+'</option>';
    });
    html += '</select>';
  }
  html += '</div>';
  if (type == "simple") {
    var attrname_col = (type == "simple") ? 3  : '8';
    var attrvalue_col = (type == "simple") ? 5 - padding : '8';
  }
  else {
    var attrname_col = (type == "simple") ? 3  : '8';
    var attrvalue_col = (type == "simple") ? 5 : '8';
  }

  if (type == "defineRequiredAttributes") {
    html += `
    <div class="col-sm-8 col-form-label attrname ">
      <input type="text" class="form-control" placeholder="Attribute Name" `+disabled+` value="`+attrname+`" />
    </div>
    `;  
  }
  else if (type == "simple" && !(attrtype.startsWith('l')) || type == "fillRequiredAttributes" && !(attrtype.startsWith('l'))) {
    var required = (type == 'fillRequiredAttributes') ? true : false;
    var attrcol  = (padding) ? 2 : 3; 
    var attrvalcol  = (padding) ? 3 : 5; 
    html += `
    <div class="col-sm-`+attrcol+` col-form-label attrname ">
      <input type="text" class="form-control" placeholder="Attribute Name" `+disabled+` value="`+attrname+`" />
    </div>
    <div class="col-sm-`+attrvalcol+`  col-form-label attrvalue ">
      `+getInput(attrtype, attrvalue, required, false, (attrname.includes('password')))+`
    </div>
    `;
  }
  else if (type == "simple" || type == 'ansibleRoles' || type == "ansibleHosts" || type == "fillRequiredAttributes" ) {
    disabled = (type == "ansibleRoles" || type == "ansibleHosts" || type == 'fillRequiredAttributes') ? "disabled" : '';
    //attrname = (type == "ansibleRoles") ? "roles": attrname;
    //attrname = (type == "ansibleHosts") ? "fqdn": attrname;
    var required = (type == 'fillRequiredAttributes') ? 'required' : '';
    var attrcol  = (padding) ? 5 : 8;
    html += `
    <div class="col-sm-`+attrcol+` col-form-label attrname ">
      <input type="text" class="form-control" placeholder="Attribute Name" `+disabled+` `+required+` value="`+attrname+`" />
    </div>
    `;
  }
  else {
    var attrcol  = (padding) ? 5 : 8;
    html += `
    <div class="col-sm-`+attrcol+` col-form-label attrvalue ">
      `+getInput(attrtype, attrvalue, required)+`
    </div>
    `;
  }
  var addbtn = (((type == "simple" || type == "fillRequiredAttributes") && attrtype.startsWith('l')) || ( padding && attrtype.startsWith('l')) && attrname != "" || type == "ansibleRoles" || type == "ansibleHosts" || add !="" ) ? '<span data-feather="plus-circle" class="btn-del-attribute addElementAttribute"></span>' : '';
  var delclass = (del != "") ? del : (type == "simple") ? 'delAttribute' : 'delElementAttribute';
  var delbtn = (type != "ansibleRoles" && type != 'ansibleHosts' && type != "fillRequiredAttributes") ? '<span data-feather="trash-2" class="btn-del-attribute '+delclass+'"></span>' : '';
  var revealPW = (attrname.includes('password')) ? '<span data-feather="eye" class="btn-del-attribute revealPw"></span> ': '';
  html += `
    <div class="col-sm-1 col-form-label attrbtn">
      `+revealPW+`
      `+addbtn+` 
      `+delbtn+` 
    </div>
  `;
  return html;
}

function getAttributeType(attribute) {
  for (const element of attrtypes) {
    if (element['type'] in attribute) {
      return  element['type'];
    }
  }
}

function genFields(fields) {
    var html = "";
    fields.forEach(function(field) {
      var required = ("required" in field && field['required']) ? 'required' : '';
      var disabled = ("disabled" in field && field['disabled']) ? 'disabled' : '';
      var value = ("value" in field) ? field['value'] : '';
      var requiredLabel = ("required" in field && field['required']) ? '<strong>'+field['name']+' *</strong>' : field['name'];
      if (field['type'] != "attributes" && field['type'] != 'requiredAttributes' && field['type'] != 'fillRequiredAttributes' && field['type'] != "ansibleRoles" && field['type'] != "ansibleDependencies" && field['type'] != "ansibleHosts" && field['type'] != "environments") {
        html += '<div class="form-group row">';
        html += '<label class="col-sm-4 col-form-label">'+requiredLabel+'</label><div class="col-sm-6">'
      }
      switch (field['type']) {
        case 'string':
        case 'number':
        case 'integer':
          var type = (field['type'] == 'string') ? 'text' : 'number';
          type = (field['id'].includes('password')) ? 'password' : type;
          var complete = (field['id'].includes('password')) ? 'autocomplete="off" readonly onclick="this.removeAttribute(\'readonly\');"' : '';
          html += '<input type="'+type+'" class="form-control" id="form'+field['id']+'" name="'+field['id']+'" value="'+value+'" '+complete+' '+required+' '+disabled+' />';
          if (disabled != '') {
            html += '<input type="hidden" name="'+field['id']+'" value="'+escape(value)+'" />';
          }
        break;
        case 'boolean':
          var trueselect = ('value' in field && field['value']) ? 'selected' : '';
          var falseselect = ('value' in field && !field['value']) ? 'selected' : '';
          html += '<select name="'+field['id']+'" class="form-control" id="form'+field['id']+'" '+required+' '+disabled+' >'
          html += '<option '+trueselect+'>True</option>';
          html += '<option '+falseselect+'>False</option>';
          html += '</select>'
        break;
        case 'list':
          multiple = ("multiple" in field && field["multiple"]) ? "multiple" : "";
          m = (multiple != "") ? "[]" : "";
          html += '<select name="'+field['id']+m+'" class="form-control" id="form'+field['id']+'" '+multiple+' '+required+' '+disabled+'>'
          html += (multiple == '')  ? '<option value="">Select value</option>' : '';
          field['options'].forEach(function(option) {
            if (multiple == '') {
              var selected = ("value" in field && field['value'] == option) ? 'selected': '';
            }
            else {
              var selected = ("values" in field && field['values'].indexOf(option) !== -1) ? 'selected': '';
            }
            html += '<option '+selected+'>'+option+'</option>';
          });
          html += '</select>'
        break;
        case 'textarea':
          var textareaval = ("value" in field) ? field['value'] : ''
          html += '<textarea class="form-control" name="'+field['id']+'">'+textareaval+'</textarea>';
        break
        case "environments": 
            switch(plural) {
              case "clustermoduletemplates":
                var envtypes = [{"name": "Default Attributes", 'type': 'attributes', "id": "defaultAttributes"}, {"name": "Ansible Specification", 'type': '', "id": "ansibleSpec"}, {"name": "Ansible Roles", 'type': 'ansibleRoles', "id":"ansibleRoles"}, {"name": "Ansible Vars", "id": "ansibleVars", 'type': 'attributes'}, {"name": "Ansible Dependencies", 'type': 'ansibleDependencies', "id":"ansibleDependencies"}];
              break;
              case "clusterproviders":
                var envtypes = [{"name": "Attributes", "id": "attributes", 'type': 'attributes'}];
              break;
            }
            field['value'].forEach(function(env) {
              html += '<div class="env"><fieldset>';
              html += genFields([{'name': 'Environment Name', 'id': 'envname', 'type': 'string', "del": "delEnv", 'value': env['name']}]);
                envtypes.forEach(function(e) {
                  var add = (e['id'] == 'ansibleRoles' || e['id'] == 'ansibleSpec') ? '' : 'insertAttribute';
                  if(e['id'] == "ansibleVars") {
                    if ('ansibleAttributes' in env && "vars" in env['ansibleAttributes']) {
                    html += genForm([{id : "ansibleVars", name: e['name'] , 'hrclass': 'env', 'htype': 'h6', 'add': add, fields: [ {'name': e['name'], 'type': e['type'], 'value': env['ansibleAttributes']['vars']}]}]);
                    }
                    else {
                     html += genForm([{id : "ansibleVars", name: e['name'] , 'hrclass': 'env', 'htype': 'h6', 'add': add, fields: [ {'name': e['name'], 'type': e['type'], 'value': []}]}]);
                    }
                  }
                  else if (e['id'] == "ansibleSpec") {
                    var ansibleSpec = [
                    {
                      "type": "list",
                      "name": "Authentication Type",
                      "id" : "ansible_cred_type",
                      "options": ["ssh", "winrm"],
                      "value": ('ansibleAttributes' in env && 'credentials' in env['ansibleAttributes'] && 'type' in  env['ansibleAttributes']['credentials']) ? env['ansibleAttributes']['credentials']['type'] : '', 
                    },
                    {
                      "type": "string",
                      "name": "Username",
                      "id" : "ansible_cred_user",
                      "value": ('ansibleAttributes' in env && 'credentials' in env['ansibleAttributes'] && 'user' in  env['ansibleAttributes']['credentials']) ? env['ansibleAttributes']['credentials']['user'] : '',
                    },
                    {
                      "type": "string",
                      "name": "Password",
                      "id" : "ansible_cred_password",
                      "value": ('ansibleAttributes' in env && 'credentials' in env['ansibleAttributes'] && 'password' in  env['ansibleAttributes']['credentials']) ? env['ansibleAttributes']['credentials']['password'] : '',
                    },
                    {
                      "type": "string",
                      "name": "SSH Key",
                      "id" : "ansible_cred_ssh_key",
                      "value": ('ansibleAttributes' in env && 'credentials' in env['ansibleAttributes'] && 'ssh_key' in  env['ansibleAttributes']['credentials']) ? env['ansibleAttributes']['credentials']['ssh_key'] : '',
                    },
                    {
                      "type": "string",
                      "name": "Default Galaxy Server",
                      "id": "ansible_defaultGalaxyServer",
                      "value": ('ansibleAttributes' in env && 'defaultGalaxyServer' in env['ansibleAttributes']) ? env['ansibleAttributes']['defaultGalaxyServer'] : ''
                    }
                    ]
                    html += genForm([{id : 'ansibleSpec', name: 'Ansible Specifications' , 'hrclass': 'env', 'htype': 'h6', fields: ansibleSpec}]);
                  }
                  else if (e['id'] == "ansibleRoles") {
                    var ansibleRoles = ("ansibleAttributes" in env && "roles" in env['ansibleAttributes']) ? env['ansibleAttributes']['roles'] : [];
                    html += genForm([{id : 'ansibleRoles', name: 'Ansible Roles' , 'hrclass': 'env', 'htype': 'h6', fields: [{'type': 'ansibleRoles', 'name': 'roles', 'value': ansibleRoles}]}]);
                  }
                  else if (e['id'] == "ansibleDependencies") {
                    var ansibleDependencies = ("ansibleAttributes" in env && "dependencies" in env['ansibleAttributes']) ? env['ansibleAttributes']['dependencies'] : [];
                    html += genForm([{id : 'ansibleDependencies', name: 'Ansible Dependencies' , 'hrclass': 'env', 'htype': 'h6', fields: [{'type': 'ansibleDependencies', 'name': 'dependencies', 'value': ansibleDependencies}]}]);
                  }
                  else {
                    if (e['id'] in env) {
                      html += genForm([{id : e['id'], name: e['name'] , 'hrclass': 'env', 'htype': 'h6', 'add': add, fields: [ {'name': e['name'], 'type': e['type'], 'value': env[e['id']]}]}]);
                    }
                    else {
                      html += genForm([{id : e['id'], name: e['name'] , 'hrclass': 'env', 'htype': 'h6', 'add': add, fields: [ {'name': e['name'], 'type': e['type'], 'value': []}]}]);
                    }
                  }
                });
              html += '</fieldset></div>'
            });
        break;
        case "ansibleHosts":
          html += '<div class="form-group row">';
          html += formatAttributes("lsValue", "fqdn", "", "ansibleHosts", true );
          html += '</div>'
          console.log(field['value']);
          field['value'].forEach(function(element) {
            html += '<div class="ansibleTarget"><div class="form-group row ansibleFQDN">';
            html += formatAttributes("lsValue",  "", element['fqdn'], "list", false, false, "addHostVar", "delAttribute");
            html += '</div>';
            if ("vars" in element) { 
              element['vars'].forEach(function(hostvar) {
                html += '<div  class="form-group row ansibleFQDN_vars">';
                var attrtype = getAttributeType(hostvar);
                html += formatAttributes(attrtype,  hostvar['name'], hostvar[attrtype], "simple", false, true, "", "delAttribute");
                if (attrtype.startsWith('l')) {
                  hostvar[attrtype].forEach(function(e) {
                    html += formatAttributes(attrtype, "", e, "list", false, true, "", "delPaddingElementAttribute");
                  });
                }
                html += '</div>';
              });
            }
            html += '</div>';
          });
          html += '</div>';
        break;
        case "ansibleRoles":
        case "ansibleDependencies":
          var name = (field['type'] == "ansibleRoles") ? 'roles' : 'module_names';
          html += '<div class="form-group row">';
          html += formatAttributes("lsValue", name, "", "ansibleRoles", true );
          field['value'].forEach(function(element) {
            html += formatAttributes("lsValue",  "", element, "list", false, false, "", "delElementAttribute" );
          });
          html += '</div>';
        break;
        case "requiredAttributes":
          field['value'].forEach(function(element) {
            html += '<div class="form-group row">';
            html += formatAttributes(getAttributeType(element), element['name'], "", "defineRequiredAttributes" );
            html += '</div>'
          });
        break
        case "fillRequiredAttributes":
          field['value'].forEach(function(element) {
            html += '<div class="form-group row">';
            var attrtype = getAttributeType(element);
            html += formatAttributes(attrtype, element['name'], element[attrtype], "fillRequiredAttributes", true );
            if (attrtype.startsWith('l')) {
              element[attrtype].forEach(function(e) {
                //attrtype="sValue", attrname="", attrvalue="", type="simple", disabled=false, padding=false, add="", del="", required=false)
                html += formatAttributes(attrtype, "", e, "list", false, false, "", "", true);
              });
            }
            html += '</div>';
          });
        break
        case "attributes":
          field['value'].forEach(function(element) {
            html += '<div class="form-group row">';
            var attrtype = getAttributeType(element);
            html += formatAttributes(attrtype, element['name'], element[attrtype], "simple", false, false, "", "delAttribute" )
            if (attrtype.startsWith('l')) {
              element[attrtype].forEach(function(e) {
                html += formatAttributes(attrtype, "", e, "list", false, false, "", "delElementAttribute");
              });
            }
            html += '</div>'
          });
        break;
      }
      if (field['type'] != "attributes" && field['type'] != 'requiredAttributes' && field['type'] != 'fillRequiredAttributes' && field['type'] != "ansibleRoles" && field['type'] != "ansibleDependencies" && field['type'] != "ansibleHosts"  && field['type'] != "environments") {
        html += "</div>";
        if ("del" in field || field['id'].includes('password')) {
          html += '<div class="col-sm-1 col-form-label attrbtn">';
          if ("del" in field) {
            html += '<span data-feather="trash-2" class="btn-del-attribute '+field['del']+'"></span>';
          }
          if (field['id'].includes('password')) {
            html += '<span data-feather="eye" class="btn-add-attribute revealPw"></span>';
          }
          html += '</div>'
        }
        html += "</div>"
      }
    });
    return html;
  }

function setinvalid(attr, invalid=true){
  $('div.requiredAttributes').each(function() {
    $('div.row', $(this)).each(function() {
    var type = $('select option:selected', $(this)).val();
    var attrName = $('div.attrname > input', $(this)).val();
    if (attrName == attr ) {
      if (invalid) {
        $('div.attrname > input', $(this)).addClass('invalid is-invalid');
      }
      else {
        $('div.attrname > input', $(this)).addClass('valid is-valid');
        $('div.attrname > input', $(this)).removeClass('invalid is-invalid');
      }
    }
    }); 
  });
}

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if(plural == "modules") {
          var requiredAttributes =  getFormAttributes($('form').find('div.requiredAttributes'), false, false, false);
          requiredAttributes.forEach(function(attribute) {
            var attrtype = getAttributeType(attribute);
            if (attrtype.startsWith('l') && attribute[attrtype].length == 0) {
              setinvalid(attribute['name']);
              event.preventDefault();
              event.stopPropagation();
            }
            else {
              setinvalid(attribute['name'], false);
            }
          });
          var ansibleAttributes = getAnsibleAttributes('form');
          if (ansibleAttributes['roles'].length != 0 && ansibleAttributes['targets'].length == 0) {
            $('div.attrname > input', 'div.ansibleHosts').addClass('invalid is-invalid');
            $('div', 'div.ansibleHosts').show();
            $('div', 'div.ansibleRoles').show();
            event.preventDefault();
            event.stopPropagation();
          }
          else {
            $('div.attrname > input', 'div.ansibleHosts').addClass('valid is-valid');
            $('div.attrname > input', 'div.ansibleHosts').removeClass('invalid is-invalid');
          }
        } 
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);

  $('body').on('click', '.attrname input', function(){
    if ($(this).val() == "" && completetpl != "" && completetype != "") {
     $(this).autoComplete('show');
    }
  });

  $('body').on('autocomplete.select', '.attrname input', function(evt, item) {
    $('select', $( evt.target).parent().prev()).trigger('focusin').val(item['value']).trigger('change');
  });

  $(".actionedit").click(function() {
    var p = window.location.pathname;
    if(p.startsWith('/providers/')) {
      var attributes = getFormAttributes($('form').find('div.attributes'));
      $('textarea[name="attributes"]', 'form').remove();
      $('form').append('<textarea style="display: none" name="attributes">'+JSON.stringify(attributes)+'</textarea>');
    }
    else if (p.startsWith('/modules/')) {
      var attributes = [];
      attributes = attributes.concat(getFormAttributes($('form').find('div.attributes')));
      attributes = attributes.concat(getFormAttributes($('form').find('div.requiredAttributes'), false, false, false));
      var ansibleAttributes = getAnsibleAttributes('form');
      var ansibleTargets = getAnsibleTargets();
      $('textarea[name="attributes"], textarea[name="ansibleAttributes"]', 'form').remove();
      $('form').append('<textarea style="display: none" name="attributes">'+JSON.stringify(attributes)+'</textarea>');
      $('form').append('<textarea style="display: none" name="ansibleAttributes">'+JSON.stringify(ansibleAttributes)+'</textarea>');
    }
    else if (p.startsWith('/moduletemplates/')) {
      var defaultAttributes = getFormAttributes($('form').find('div.defaultAttributes'));
      var requiredAttributes = getFormAttributes($('form').find('div.requiredAttributes'), true);
      var ansibleAttributes = getAnsibleAttributes('form');
      $('textarea[name="attributes"], textarea[name="ansibleAttributes"], textarea[name="requiredAttributes"]', 'form').remove();
      $('form').append('<textarea style="display: none" name="defaultAttributes">'+JSON.stringify(defaultAttributes)+'</textarea>');
      $('form').append('<textarea style="display: none" name="requiredAttributes">'+JSON.stringify(requiredAttributes)+'</textarea>');
      $('form').append('<textarea style="display: none" name="ansibleAttributes">'+JSON.stringify(ansibleAttributes)+'</textarea>');
    }
    else if (p.startsWith('/cluster/clusterproviders/')) {
      var attributes = getFormAttributes($($('form').find('div.attributes')[0]));
      var environments = getEnvAttributes('attributes');
      $('textarea[name="attributes"], textarea[name="environments"]', 'form').remove();
      $('form').append('<textarea style="display: none" name="attributes">'+JSON.stringify(attributes)+'</textarea>');
      $('form').append('<textarea style="display: none" name="environments">'+JSON.stringify(environments)+'</textarea>');
    }
    else if (p.startsWith('/cluster/clustermoduletemplates/')) {
      var attributes = getFormAttributes($($('form').find('div.defaultAttributes')[0]));
      var requiredAttributes = getFormAttributes($('form').find('div.requiredAttributes'),true);
      var ansibleAttributes = getAnsibleAttributes('form');
      var environments = getEnvAttributes('defaultAttributes', true);
      $('textarea[name="attributes"], textarea[name="ansibleAttributes"], textarea[name="requiredAttributes"], textarea[name="environments"]', 'form').remove();
      $('form').append('<textarea style="display: none" name="defaultAttributes">'+JSON.stringify(attributes)+'</textarea>');
      $('form').append('<textarea style="display: none" name="requiredAttributes">'+JSON.stringify(requiredAttributes)+'</textarea>');
      $('form').append('<textarea style="display: none" name="environments">'+JSON.stringify(environments)+'</textarea>');
      $('form').append('<textarea style="display: none" name="ansibleAttributes">'+JSON.stringify(ansibleAttributes)+'</textarea>');
    }
    $('#submit').click();
  });
  
  $('body').on('focusin', '.attrtype', function(){
    $(this).data('val', $(this).val());
  });
  $('body').on('mousedown', '.revealPw', function() {
    $('input', $(this).parent().prev()).attr('type', 'text');
  });
  $('body').on('mouseup', '.revealPw', function() {
    $('input', $(this).parent().prev()).attr('type', 'password');
  });

  $('body').on('change', '.toggleattrtype', function() {
    var prev = $(this).data('val');
    var current = $(this).val();
    $(this).data('val', $(this).val());
    console.log(prev + '->'+current)
    var attrname = $('input', $(this).parent().next('div .attrname')).val();
    if($(this).parent().parent().hasClass('ansibleFQDN_vars')) {
      var host = $('input', $(this).parent().parent().parent().find('div.ansibleFQDN')).val();
      var fields = [{'type' : 'ansibleHosts', 'value': getAnsibleTargets(true)}];
      var html = genFields(fields);
      var ans = $(this).parent().parent().parent().parent();
      $('div', ans).remove();
      ans.append(html);
    }
    else {
      var fields = [{ "type": "attributes", "value": [{"name":attrname}]}];
      var val = (current.startsWith('l')) ? []: "";
      fields[0]['value'][0][current] = val;
      var html = genFields(fields);
      $(this).parent().parent().replaceWith(html);
    }
    feather.replace();
    applyAutoComplete();
  });

  $('body').on('click', '.insertAttribute', function() {
    var fields = [{ "type": "attributes", "value": [{"name":"", "sValue": ""}]}];
    var html = genFields(fields);
    $('div.section', $(this).closest('div')).append(html);
    $('div.section', $(this).closest('div')).show();
    feather.replace();
    applyAutoComplete();
  });
  $('body').on('click', '.insertRequiredAttribute', function() {
    var fields = [{ "type": "requiredAttributes", "value": [{"name":"", "sValue": ""}]}];
    var html = genFields(fields);
    $('div.section', $(this).closest('div')).append(html);
    $('div.section', $(this).closest('div')).show();
    feather.replace();
  });

  $('body').on('click', '.addElementAttribute', function() {
    a = $(this);
    var attrtype = $('select option:selected', $(this).closest('div').prev().closest('div').prev().closest('div')).val();
    var fields = [{ "type": "attributes", "value": [{"name":""}]}];
    fields[0]['value'][0][attrtype] = "";
    if ($(this).closest('div').prev().parent().hasClass('ansibleFQDN')) {
      var html = '<div class="form-group row ansibleFQDN_vars">';
      html += formatAttributes("sValue", "", "", "simple", false, true);
      html += '</div>'
      $(this).closest('div').prev().parent().parent().append(html);
    }
    else if ($(this).closest('div').prev().parent().hasClass('ansibleFQDN_vars')) {
      var html = formatAttributes(attrtype, "", "", "list", false, true);
      $(this).closest('div').parent().append(html);
    }
    else if ($(this).parent().parent().parent().parent().hasClass('ansibleHosts')) {
      var html = '<div class="ansibleTarget"><div class="form-group row ansibleFQDN">';
      html += formatAttributes("lsValue", "", "", "list", false, false, "addHostVar");
      html += "</div></div>";
      $(this).parent().parent().parent().append(html);
    }
    else if ($(this).parent().parent().parent().parent().hasClass('requiredAttributes')) {
      var html = formatAttributes(attrtype, "", "", "list").replace('type=', 'required type=');
      $(this).closest('div').parent().append(html);
    }
    else {
      var html = formatAttributes(attrtype, "", "", "list");
      $(this).closest('div').parent().append(html);
    }
    feather.replace();
    return;
  });

  $('body').on('click', '.delAttribute', function() {
    if ($(this).closest('div').prev().closest('div.form-group.row').hasClass('ansibleFQDN')) {
      $(this).closest('div').prev().closest('div.form-group.row').parent().remove();
    }
    else {
      $(this).closest('div').prev().closest('div.form-group.row').remove();
    }
  });

  $('body').on('click', '.delElementAttribute', function() {
    $(this).closest('div').prev().closest('div').prev().closest('div').remove();
    $(this).closest('div').prev().closest('div').remove();
    $(this).closest('div').remove();
  });
  $('body').on('click', '.delPaddingElementAttribute', function() {
    $(this).closest('div').prev().closest('div').prev().closest('div').prev().closest('div').remove();
    $(this).closest('div').prev().closest('div').prev().closest('div').remove();
    $(this).closest('div').prev().closest('div').remove();
    $(this).closest('div').remove();
  });

  $('body').on('click', '.showtplattr', function() {
    var url;
    if ( $('#formclusterModuleTemplate').val() != "") {
      url = '/api/clustermoduletemplates/'+namespace+'/'+$('#formclusterModuleTemplate').val()+'/hattributes';
    }
    else if ( $('#formmoduleTemplate').val() != "") {
      url = '/api/moduletemplates/'+namespace+'/'+$('#formmoduleTemplate').val()+'/hattributes';
    }
    else {
      return;
    }
    $.getJSON(url, function(data) {
      if (data.length == 0 ) {
        return;
      }
      $('div.row', 'div.hattr').remove();
      $('div.hattr').html(genForm(data));
      $('div.hattr input').attr('disabled', '')
      $('div.hattr select').attr('disabled', '')
      feather.replace();
    });
    $(".pop-outer").fadeIn("slow");
  });

  $('body').on('click', '.hidetplattr', function() {
    $('div.row', 'div.hattr').remove();
    $(".pop-outer").fadeOut("slow");
  });

  $('body').on('click', '.delEnv', function() {
    $(this).parent().parent().parent().parent().remove();
  });

  $('body').on('click', '.addEnv', function() {
    var fields = [{'type': 'environments', 'value': [{'name': ''}]}];
    $('div.environments').append(genFields(fields));
    feather.replace();
    return;
  });

  $('body').on('click', '.togglesection', function () {
    console.log($(this).parent().parent().parent().find('div.section'));
    $(this).parent().parent().parent().find('div.section').first().fadeToggle();
  });

  $('#formclusterModuleTemplate').change(function () {
    $('#formmoduleTemplate').val("");
    completetype = 'clustermoduletemplates';
    completetpl = $(this).val();
    applyAutoComplete();
    setRequiredAttributes(null, completetpl);
  });

  $('#formmoduleTemplate').change(function () {
    $('#formclusterModuleTemplate').val("");
    completetype = 'moduletemplates/'+namespace;
    completetpl = $(this).val();
    applyAutoComplete();
    setRequiredAttributes(namespace, completetpl);
  });

  $(".actioncancel").click(function() {
    window.history.back();
  });
  $(".actiondelete").click(function() {
    if (confirm('Arey you sure to delete {{plural}}/{{name}} ?')) {
        {% if plural == "clusterproviders" or plural == "clustermoduletemplates" %}
          location.href = '/cluster/{{plural}}/?delete=true&name={{name}}&csrf_token={{ csrf_token() }}';
        {% else %}
          location.href = '/{{plural}}/{{namespace}}/?delete=true&name={{name}}&csrf_token={{ csrf_token() }}';
        {% endif %}
    }
  });
})();
</script>
{% endblock %}
